 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Arsalan</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello, and welcome to my website. My page is a portfolio highlighting my work experience and past projects. I am currently a Software Developer analyst 
                    at Accenture, based out of the Toronto King street office. Feel free to check out my resume and skills!</p>
                </div>
                <div class="col-lg-4">
                    <p>My goals for the next few years include establishing myself in the financial services industry. Particularly in consulting, and building a personal portfilio
                    pertaining to new financial technology and innovation.   </p>
                </div>
            </div>
        </div>
    </section>